@tailwind base;
@tailwind components;
@tailwind utilities;

/* Styles for the blinking dot */
.live-indicator {
  width: 10px;
  height: 10px;
  background-color: green;
  border-radius: 50%;
  animation: blink 1s infinite;
}

/* Blinking animation */
@keyframes blink {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0.5;
  }
  100% {
    opacity: 1;
  }
}
